<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<style type="text/css">

/* Main CSS Styles lifted https://codepen.io/samuelkraft/pen/Farhl */

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.chat {
    padding: 10px 50px;
    margin-top: 60px;
}

/*
  See https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  for handling links
*/

.col-message {
    display: inline-flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 75%;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
}

.col-message:before,
.col-message:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}

.is_from_me-1 {
    color: white;
    background: #0B93F6;
    align-self: flex-end;
    float: right;
}

.is_from_me-1:before {
    right: -7px;
    width: 20px;
    background-color: #0B93F6;
    border-bottom-left-radius: 16px 14px;
}

.is_from_me-1:after {
    right: -26px;
    width: 26px;
    background-color: white;
    border-bottom-left-radius: 10px;
}

.is_from_me-0 {
    background: #E5E5EA;
    color: black;
    align-self: flex-start;
}

.is_from_me-0:before {
    left: -7px;
    width: 20px;
    background-color: #E5E5EA;
    border-bottom-right-radius: 16px 14px;
}

.is_from_me-0:after {
    left: -26px;
    width: 26px;
    background-color: white;
    border-bottom-right-radius: 10px;
}
.pic_from_me-0 {
    order: -9999;
}

.pic_from_me-1 {
    order: 9999;
}

.single-emoji-1 {
    font-size: xx-large;
    background: transparent;
    padding: 12px 0px;
}
.single-emoji-1:after {
    background: transparent !important;
}
.single-emoji-1:before {
    background: transparent !important;
}

.header {
    background: rgb(244, 244, 244);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    border-bottom: rgb(215, 215, 215) solid 2px;
}

.message-to {
    color: #9e9e9e;
}


</style>

<div class="header">
    <span class="message-to">To: </span>{{ named_parameter_values.phone }}
</div>

<div class="chat flex flex-col">
    {% for r in display_rows %}
    {% set row = dict(zip(columns, r)) %}
    {% set media_src = row.media_src %}
    {% set space = "&nbsp;" == media_src %}
    {% set message = row.message.replace("\ufffc", "") %}
    {% set single_emoji = message|length == 1 and not message.isascii() %}
    <div class="flex-row">
        {% if media_src and not space %}
            <div class="grid grid-cols-2 pb-2">
                <div class="col-photo pic_from_me-{{row.is_from_me}}">
                    <img src="{{row.media_src}}">
                </div>
                <div class="spacer"></div>
            </div>
        {% endif %}
        {% if message %}
            <div class="col-message single-emoji-{{single_emoji|int}} is_from_me-{{row.is_from_me}}">
                {{message}}
            </div>
        {% endif %}
    </div>
    {% endfor %}
<div>